In [7]:
# Problem 1
# Create a DataFrame:
# data = {
#  "Name": ["A", "B", "C", "D", "E, "F", "G", "H"],
#  "Marks": [45, 70, 85, 60, 58 , 78, 81, 39]
# }
#  Display students who scored more than 60.
#  Display students who scored less than or equal to 60

In [8]:
import pandas as pd
data = {
    "Name": ["A","B","C","D","E","F","G","H"],
    "Marks": [45,70,85,60,58,78,81,39],
}
df = pd.DataFrame(data)
print(df)

  Name  Marks
0    A     45
1    B     70
2    C     85
3    D     60
4    E     58
5    F     78
6    G     81
7    H     39

In [9]:
# Students who scored more than 60
data = df[df['Marks'] > 60]
print(data)
print()

  Name  Marks
1    B     70
2    C     85
5    F     78
6    G     81

In [10]:
#Students who scored less than or equal to 60
data = df[df['Marks'] <= 60]
print(data)

  Name  Marks
0    A     45
3    D     60
4    E     58
7    H     39

In [11]:
# Problem -2
# Given:
# data = {
#  "Name": ["A", "B", "C", "D", "E"],
#  "Marks": [80, None, 45, 90, 60],
#  "Attendance": [85, 70, 60, 95, None]
# }
# Tasks:
# 1. Create a DataFrame.
# 2. Replace missing values in "Marks" with the mean of that column.
# 3. Drop rows where "Attendance" is missing.
# 4. Create a new column "Result":
# o "Pass" if Marks ≥ 50
# o "Fail" otherwise
# 5. Display students who passed.

In [12]:
import pandas as pd
import numpy as np

In [13]:
data = {
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, None, 45, 90, 60],
    "Attendance": [85, 70, 60, 95, None]
}

In [14]:
# Original DataFrame
df = pd.DataFrame(data)
print(df)

  Name  Marks  Attendance
0    A   80.0        85.0
1    B    NaN        70.0
2    C   45.0        60.0
3    D   90.0        95.0
4    E   60.0         NaN

In [15]:
#Replaced missing Marks with mean value
marks_mean = df['Marks'].mean()
df['Marks'] = df['Marks'].fillna(marks_mean)
print(df)

  Name  Marks  Attendance
0    A  80.00        85.0
1    B  68.75        70.0
2    C  45.00        60.0
3    D  90.00        95.0
4    E  60.00         NaN

In [16]:
#Dropped rows with missing Attendance
df = df[df['Attendance'].notna()]
print(df)

  Name  Marks  Attendance
0    A  80.00        85.0
1    B  68.75        70.0
2    C  45.00        60.0
3    D  90.00        95.0

In [17]:
#Added Result column:
import numpy as np
df['Result'] = np.where(df['Marks'] >= 50, 'Pass', 'Fail')
print(df)

  Name  Marks  Attendance Result
0    A  80.00        85.0   Pass
1    B  68.75        70.0   Pass
2    C  45.00        60.0   Fail
3    D  90.00        95.0   Pass

In [18]:
#Students who passed:
passed_students = df[df['Result'] == 'Pass']
print(passed_students)

  Name  Marks  Attendance Result
0    A  80.00        85.0   Pass
1    B  68.75        70.0   Pass
3    D  90.00        95.0   Pass